<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ToDo list</title>
  <link rel="stylesheet" href="/styles/homework.css">
  <script src="/resources/homework.js"></script>
</head>
<body>
<div class="todo-block">
  {{{form}}}
  <h1>Secret page</h1>
  <form action="/login" method="post">
    <fieldset>
      <legend>{{legend}}</legend>
      <p>{{message}}</p>
      <a class="link" href="/">Go to main page</a>
    </fieldset>
  </form>
</div>
</body>
</html>